<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>head</title>
    <style type="text/css">
        #right{
            float: right;
            margin: -40px 20px 100px 100px;
            padding: 0px;
        }
        #head{
            background: gainsboro;
            height: 30px;
        }
        #left{
            margin-left: 40px;
            width: 500px;
        }
        #left > p{
            line-height: 29px;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="head">
    <div id="left">
        <p>您好,欢迎来到阿七果园子!</p>
    </div>

    <div id="right">
        <a href="">登录</a>
        <a style="color: red" href="">注册有惊喜</a>
        <a href="">我的果园</a>
        <a href="">手机果园   400-720-0770</a>
    </div>

</div>
</body>
</html>